:root {
  --main-bg-color: rgb(94, 94, 94);
  --logo-shadow: rgb(0, 0, 0);
}

.App {
  text-align: center;
}

.App-logo {
  position: relative; 
  height: 40vmin;
  pointer-events: none;
  filter: drop-shadow(15px 15px 10px var(--logo-shadow));
}

.stars-container {
  position:absolute;
  top: 0%;
  left: -100%;
  width: 250%;
  height: 250%;
  -webkit-animation:spin 834s linear infinite;
  -moz-animation:spin 834s linear infinite;
  animation:spin 834s linear infinite;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.App-header {
  background: linear-gradient(20deg, #00002F 0%, #02020E 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.App-link {
  z-index: 1;
  color: #3f7cff;
}

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}


.star {
  border-radius: 100%;
  position: absolute;
  display: block;
  
}

.star {
  animation: twinkle 2s linear 0s infinite normal;
  background: #F6F6F6;
  z-index: 1;
  left: 100%;
  top: 100%;
}

@keyframes twinkle {
  0% {
    transform: scale(1.0);
    opacity: 1;
  }

  50% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}
